.NavBarItems {
    /*background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);*/
    background: #FFFFFF;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Roboto';
}

.navbar-logo {
    color: #000000;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

.augment-logo {
    margin-left: 0.5rem;
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
    padding-top: 0.6rem;
}

.nav-links {
    color: #000000;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    text-decoration-line: underline;
    text-decoration-color: #64C04D;
    color: #64C04D;
    text-underline-offset: 0.7rem;
    /*border-radius: 4px;*/
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #000000;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 560px) {
    .NavBarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #FFFFFF;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #7577fa;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(20%, 0%)
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-bars{
        color: #000000;
        font-size: 2rem;
    }
    .fa-times{
        color: #000000;
        font-size: 2rem;
    }
}