html, body {
  font-family: 'Roboto';
  background-color: #E5E5E5;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
/* app-container */
.app-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  background-color: #E5E5E5;
  height: 120vh;
}

/* main-container after nav bar */
.container {
  margin: 20px 90px 20px 90px;
  border: 1px;
  border-style: solid;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #E5E5E5;
  padding-bottom: 20px;
}
/* --- */
/* box-1 */
.container-box-1 {
  padding: 15px 30px 15px 50px;
  margin: 0px 0px 10px 0px;
  background: rgba(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;  
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
/* text-box */
.text-box {
  display: flex;
  border: 1px;
  border-style: solid;
  border-color: transparent;
  flex: 5;
  justify-content: center;
  padding-left: 20px;
}
/* inner-text-box-1 */
.inner-text-box-1-key {
  border: 1px;
  border-style: solid;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  flex: 2;
  font-size: 0.9rem;
  justify-content: center;
}
.inner-text-box-1-val {
  border: 1px;
  border-style: solid;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 0.9rem;
  justify-content: center;
}
/* key-value-text-box */
.key-value-text-box {
  border: 1px;
  border-style: solid;
  border-color: transparent;
  flex: 1;
}
/* --- */
/* progress-box */
.progress-box {
  border: 1px;
  border-style: solid;
  border-color: transparent;
  flex: 1.5;
  align-items: center;
  text-align: center;
}

/* --- */
/* box-2 */
.container-box-2 {
  display: flex;
  border: 2px;
  border-style: solid;
  border-color: transparent;
  flex: 8;
}

/* --- */
/* inner-box-2-1 */
.container-box-2-1 {
  border: 2px;
  border-style: solid;
  border-color: transparent;
  flex: 1.5;
  display: flex;  
  flex-direction: column;
}
/* inner-box-2-1-1 */
.container-box-2-1-1 {
  padding: 10px;
  background: rgba(255, 255, 255, 1.00);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex: 3;
}
/* chart-title-box */
.chart-title-box {
  border: 1px;
  border-style: solid;
  border-color: transparent;
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 2px;
  margin-left: 5px;
}
.chart-title{
  font-size: 1.1vw;
  font-weight: bold;
}
.chart-icons{
  margin-left: auto;
  padding: 2px;
  cursor: help;
  display: flex;
}
.chart-reload{
  margin-right: 30px;
  cursor: pointer;
  flex: 1;
}

.chart-info-logo{
  padding: 2px;
  cursor: help;
  flex: 1;
}


/* chart-container */
.chart-container {
  border: 1px;
  border-style: solid;
  border-color: transparent;
  display: flex;
  flex: 12;
  justify-content: center;
  align-items: stretch;
}
/* --- */
/* inner-box-2-1-2 */
.container-box-2-1-2 {
  padding: 10px;
  background: rgba(255, 255, 255, 1.00);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* --- */
/* inner-box-2-2 */
.container-box-2-2 {  
  margin-left: 20px;
  border: 2px;
  border-style: solid;
  border-color: transparent;
  flex: 1;  
  display: flex;  
  flex-direction: column;
}
/* inner-box-2-2-1 */
.container-box-2-2-1 {
  padding: 10px;
  background: rgba(255, 255, 255, 1.00);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
/* inner-box-2-2-2 */
.container-box-2-2-2 {
  padding: 10px;
  background: rgba(255, 255, 255, 1.00);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}


/* progress-bar-div */


/* --- NavBar CSS --- */


